<?xml version="1.0"?>
<config>
    <modules>
        <Hevelop_EanGenerator>
            <version>1.0.0</version>
        </Hevelop_EanGenerator>
    </modules>
    <global>
        <blocks>
            <hevelop_eangenerator>
                <class>Hevelop_EanGenerator_Block</class>
            </hevelop_eangenerator>
        </blocks>
        <helpers>
            <hevelop_eangenerator>
                <class>Hevelop_EanGenerator_Helper</class>
            </hevelop_eangenerator>
        </helpers>
        <models>
            <hevelop_eangenerator>
                <class>Hevelop_EanGenerator_Model</class>
            </hevelop_eangenerator>
        </models>
        <resources>
            <hevelop_eangenerator_setup>
                <setup>
                    <module>Hevelop_EanGenerator</module>
                    <class>Hevelop_EanGenerator_Model_Resource_Setup</class>
                </setup>
            </hevelop_eangenerator_setup>
        </resources>
        <events>
            <catalog_product_save_before>
                <observers>
                    <hevelop_eangenerator_catalog_product_save_before>
                        <class>hevelop_eangenerator/observer</class>
                        <method>setEanBeforeSave</method>
                    </hevelop_eangenerator_catalog_product_save_before>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
    <crontab>
        <jobs>
            <hevelop_eangenerator_full>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>hevelop_eangenerator/cron::eanGenerator</model>
                </run>
            </hevelop_eangenerator_full>
        </jobs>
    </crontab>
    <hevelop_eangenerator>
        <general>
            <enabled>0</enabled>
        </general>
    </hevelop_eangenerator>
</config>
